<?xml version="1.0"?>

<model>
  <name>Hiking LoRa Pine Tree</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Louise Poubel</name>
    <email>louise@osrfoundation.org</email>
  </author>

  <description>
    Package-local conifer evergreen tree for the hiking LoRa simulation.
  </description>
</model>
